-r requirements-common.txt
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

torch==2.9.0
torchvision==0.24.0
torchaudio==2.9.0

# MUST match PyTorch 2.9
triton-windows==3.5.0